[package]
name = "manager"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow.workspace = true
futures.workspace = true
serde_json.workspace = true
store = { path = "../store" }
tokio.workspace = true
tracing.workspace = true
trader = { path = "../trader" }
